<div id="hamburger" class="hamburglar is-closed">

    <div class="burger-icon">
        <div class="burger-container">
            <span class="burger-bun-top"></span>
            <span class="burger-filling"></span>
            <span class="burger-bun-bot"></span>
        </div>
    </div>

    <div class="burger-ring">
        <svg class="svg-ring">
            <path class="path" fill="none" stroke-miterlimit="10" stroke-width="4" d="M 34 2 C 16.3 2 2 16.3 2 34 s 14.3 32 32 32 s 32 -14.3 32 -32 S 51.7 2 34 2" />
        </svg>
    </div>

    <div class="path-burger">
        <div class="animate-path">
            <div class="path-rotation"></div>
        </div>
    </div>

</div>