<header id="header">
	<a href="#" class="main-logo">
		<svg xmlns="http://www.w3.org/2000/svg" width="80">
			<path class="path-1" d="M 90 20 L -5 57" stroke="blue" />
			<path class="path-2" d="M -5 54 L 85 77" stroke="yellow" />
			<path class="path-3" d="M 85 75 L -10 110" stroke="red" />
		</svg>
	</a>

	<nav class="main-nav-holder">
		//= ../components/hamburger
		<ul class="main-menu">
			<li><a href="#"><i class="fa fa-calendar"></i></a></li>
			<li><a href="#"><i class="icon fi-shopping-cart"></i></a></li>
			<li><a href="#"><i class="icon fi-lightbulb"></i></a></li>
			<li><a href="#"><i class="icon fi-torsos"></i></a></li>
			<li><a href="#"><i class="icon fi-dollar"></i></a></li>
		</ul>
	</nav>
</header>